header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
}

.container {
  text-align: center;
}

.top-image {
  width: 100%;
  margin-top: 65px;
}

.title {
  font-size: 20px;
  margin: 60px 0 40px;
}

.hide {
  color: white;
}

.about-wrapper {
  margin: 0 100px;
}

.about-image {
  width: 25%;
  margin-bottom: 20px;
  border-radius: 50%;
}

.table {
  font-size: 12px;
}

.table th {
  width: 40%;
}

.table td {
  text-align: left;
}

.product {
  margin: 0 100px;
  padding-top: 30px;
  border: 1px solid #dee2e6;
}

.product-wrapper p {
  font-size: 10px;
  margin: 10px 0 30px;
}

.comment p {
  font-size: 12px;
  margin-top: 40px;
}

.link {
  font-size: 12px;
  margin-bottom: 30px;
}

.link a {
  color: black;
  margin-right: 5px;
  font-size: 16px;
}

.contact-wrapper a {
  color: gray;
  font-size: 40px;
}

.mail {
  margin-left: 10px;
}

footer {
  text-align: center;
  margin: 300px 0 30px;
  font-size: 11px;
}

@media (max-width: 800px) {
  .about-wrapper,
  .product {
    margin: 0 50px;
  }
  
  .table {
    font-size: 11px;
  }
}

@media (max-width: 500px) {
  .about-wrapper,
  .product {
    margin: 0;
  }
  
  .table,
  footer {
    font-size: 10px;
  }
}